manifest {
    mainScript = 'paraMSA.nf'
}
  
params {
	guidance2dir='/guidance.v2.01'
}

process {
    container='cbcrg/paramsa@sha256:d57d8b7aaf6e252d1ff6770a54da512ed13fbea5317741273b53b207755529dd'
    maxErrors = 10 
    maxRetries = 3 
    errorStrategy = 'retry'
}

workflow.onComplete = { 
    if( workflow.success ) { ['rm','-rf', workDir].execute().waitFor() }
    println( workflow.success ? "Done!" : "Oops .. something went wrong" )
}
