manifest {
    mainScript = 'paraMSA.nf'
}
  
params {
	guidance2dir='/guidance.v2.01'
}

process {
    container='cbcrg/paramsa@sha256:d57d8b7aaf6e252d1ff6770a54da512ed13fbea5317741273b53b207755529dd'
}


profiles {

    crg {
        process {
          executor='crg'
          queue='cn-el7'
          time='4h'
          scratch=true
        }
    
        docker {
          enabled=true
        }

    }
    
    macbook {
        docker {
          enabled=true
        }
    }
}

workflow.onComplete = { 
	println ( workflow.success ? "Done!" : "Oops .. something went wrong" )
}
